!!! 5
%html
  %head
    %meta{:charset => "utf-8"}
    %title CHansas
    %link{:rel => "stylesheet", :href => "/s/css/email.css?VERSION_STRING"}
    %script{:rel => "text/javascript", :src => "/s/js/email.js?VERSION_STRING"}
  %body
    .confirmation
      .title Email confirmation
      .info Please wait while we confirm your email address...
      .complete Success!  Redirecting you to lobby in 5 seconds...
      .error Oops!  There was a problem.  No further information.
