.releasecontainer
  .releasedate
    2020-11-25
    %ul.releasecontent
      %li Bots respond to bumps using their brains
      %li Bugfix: Clearing Coellen without taking reward or office would freeze turnstate (waiting on taking reward)
  .releasedate
    2020-11-24
    %ul.releasecontent
      %li Bots can move pieces again, no known "out of sync" bugs left with the bot brains and their realities
  .releasedate
    2020-11-23
    %ul.releasecontent
      %li Rewrote fitness evaluation to be better encapsulated and inspectable
      %li Replaced existing bot brains using new weights / fitness (only 1 brain now)
  .releasedate
    2020-11-18
    %ul.releasecontent
      %li Lots of work on bots but still crashing the site :(.  Not released yet.
  .releasedate
    2020-11-17
    %ul.releasecontent
      %li Push mostly working Hansa with bad bots and no tokens
  .releasedate
    2020-11-09
    %ul.releasecontent
      %li prod setup (domain, nginx, certs, bundle/deploy scripts, first push)
  .releasedate
    2020-11-08
    %ul.releasecontent
      %li Ripped code from cpokers.com for potential project
